.container-card{
	display:flex;
	width:100%;
	justify-content: center;
	align-items:center;
	justify-content:space-evenly;
	




}

.container-blocks{
	display:flex;
	border-radius:0.7rem;
	flex-direction:column;
	justify-content:center;
  align-items: center;
		border:1px solid #494646;
       padding-bottom:1em;
		align-self:baseline;
	width:30%;
	margin-bottom:1em;
	



}



.container-blocks h2{
	text-align:center;
	width:100%;
	border-radius:1rem;
	color:white;
font-family: 'Inconsolata', monospace;
font-family: 'Prompt', sans-serif;
	font-size:1rem;


	
}
.project-detail p{
	width:400px;
	color:white;
	font-size:0.7rem;
	font-family: 'Inconsolata', monospace;
}
.project-detail button{
	width:40%;
	padding:1em;
	
    border-radius: 8px;
}
.project-detail{

	
}

@media screen and (max-width: 1390px) {
  .container-card {
    flex-direction: column;

	  
  }

	.container-blocks{
    width: 100%;
  }
	body {
    font-size: 1rem;
  }
}
