* {
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  background: url("/static/img/background.jpg") no-repeat center center fixed;
  background-size: cover;
	
	display:flex;
	font-size:1rem;
	  overflow: auto;

}

.container {
  width: 99%;
  border-radius: 2rem;
  opacity: 1;
  background-color: black;
  position: relative;
	margin-top:1rem;
	display:flex;
	justify-content:center;
height: 99%;
	  min-height: 92vh;


}

html {
	font-size:24px;
}
